<h1>Listing ekiselevas</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ekiselevas.each do |ekiseleva| %>
      <tr>
        <td><%= link_to 'Show', ekiseleva %></td>
        <td><%= link_to 'Edit', edit_ekiseleva_path(ekiseleva) %></td>
        <td><%= link_to 'Destroy', ekiseleva, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ekiseleva', new_ekiseleva_path %>
